@charset "UTF-8";

body{
    background: #f6f7f9;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto; /* 中央に配置 */
    padding: 0 4%; /* スマートフォン向け */
}

a {
    color: #333333;
    text-decoration: none;
  }

#nav-bar{
    display: flex;
    justify-content: space-between; /* 両端 */

    width: 100%;
    height: 100px;
    
    margin: 0 auto; /* 中央に配置 */
    padding: 0 2%; /* スマートフォン向け */
    margin-bottom: 50px;

    background: #4285F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logos{
    margin-top: 14px;
}

.logout{
    width: 177px;
    height: 56px;

    margin-top: 32px;

    color: #FFF9F9;
    background: #DB4437;
    border-radius: 40px;
}

.logout:hover{
    background-color: brown;
}

.boder-line{
    width: auto;
    height: 3px;

    margin-top: 50px;

    background: #476282;
    transform: matrix(1, 0, 0, -1, 0, 0);
}