@charset "UTF-8";
/* regular */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* bold */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.back-design{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;
    z-index: -10;

    background: #4285F4;
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}

.item{
    width: 300px;
    height: 200px;

    margin: 10px;
    padding: 10px;

    margin-top: 50px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.item:hover{
    background-color: #f6f7f9;
  }
