<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- リセットcss -->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">

    <!-- 通常css -->
    <link rel="stylesheet" href="/static/CSS/base.css">
    {% block addCSS %}
    {% endblock addCSS %}

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <title>otogen</title>
</head>

<body onload="init();">
    <!-- header -->
    <header>
        <nav id="nav-bar">
            <a href="/index" class="logos">
                <img src="/static/images/logos.png">
            </a>
            <ul>
                <button class="logout" onclick="logout();">LOGOUT</button>
            </ul>
        </nav>
        <div class="back-design"></div>
    </header>

    <!-- contents -->
    <div class="wrapper">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- footer -->
    <!-- <footer>
        <p>©otogen-suzukihikaru All Rigths Reserved</p>
    </footer> -->


    <!-- firebase CDN -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-database.js"></script>
    <!-- firebase ui CDN  -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <!-- js -->
    <script src="/static/key/config.js"></script>
    <script src="/static/JS/base.js"></script>
    {% block addJS %}
    {% endblock addJS %}
</body>

</html>