{% extends 'base.html'%}

{% block addCSS %}
<link rel="stylesheet" href="/static/CSS/createMode.css">
{% endblock addCSS %}

{% block content %}
<div class="title">
    <h2>{{yt_title}}</h2>
    <div class="title-container">
        <div class="title-list">
            <ul>
                <li>リンク：<a href="{{ url }}" target="blank" style="color: blue;">{{ url }}</a></li>
                <li>保存先：{{ path }}</li>
            </ul>
        </div>
        <div class="title-submit">
            <div id="goodbutton">
                <button class="save-db" onclick="saveDB();">クリエイトデータを保存</button>
            </div>
        </div>
    </div>
</div>

<div class="play-container">
    <div class="play-video">
        <div id="ytplayer">読み込み中です</div>
    </div>

    <div class="play-game-container">

        <div class="play-result">
            <h2>ゲーム画面</h2>
            <div id="sumRhythm">
                <p>総rhythm数：0</p>
            </div>
        </div>

        <div class="play-canvas">
            <canvas id="canvas" width="300" height="130px"></canvas>
        </div>

        <div class="play-button">
            <!-- 再生 -->
            <img src="/static/images/play.png" width="100px" height="100px" onclick="startGame();" />
            <!-- 停止 -->
            <img src="/static/images/pause.jpg" width="100px" height="100px" onclick="stopGame();" />
            <!-- どん！ -->
            <img src="/static/images/taiko.png" width="100px" height="100px" onclick="appendCount();" />
        </div>

    </div>
</div>

{% endblock content %}

{% block addJS %}
<script>
    function saveDB() {
        clearInterval(countupVal);
        var result = prompt('保存するファイル名を入力してください');
        var title;
        var timestamp;

        if (result) {
            title = result;
            var now = new Date();
            var Year = now.getFullYear();
            var Month = now.getMonth() + 1;
            var Day = now.getDate();
            var Hour = now.getHours();
            var Min = now.getMinutes();
            var Sec = now.getSeconds();
            timestamp = Year + "/" + Month + "/" + Day + "/" + Hour + ":" + Min + ":" + Sec;
        }

        const user = firebase.auth().currentUser;
        const userId = user.uid;
        const userName = user.displayName;

        firebase.database().ref('users/' + user.uid).push().set({
            yt_title: "{{yt_title}}",
            title: title,
            timestamp: timestamp,
            userName: userName,
            url: "{{ url }}",
            countTimes: countsToFirebase,
            good: 0,
            play: 0,
        });
        window.alert("データベースに送信しました")
    };

    // youtubeidの取得
    function getId() {
        var url = "{{ url }}";
        var videoid = url.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
        if (videoid != null) {
            videoId = videoid[1]
        } else {
            console.log("The youtube url is not valid.");
        }
    };

    var videoId;
    getId();

    // iframeの作成
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // iframeの設定
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
            height: '340',
            width: '570',
            videoId: videoId,
        });
    }
</script>

<script src="/static/JS/creategame.js"></script>
<script src="/static/JS/createMode.js"></script>
{% endblock addJS %}