{% extends 'base.html'%}

{% block addCSS %}
<link rel="stylesheet" href="/static/CSS/createSelect.css">
{% endblock addCSS %}

{% block content %}
<div class="two-column-container">

    <!-- main -->
    <div class="main">
        <h2>Youtube検索結果</h2>
        <div style="margin: 10px ;">
            <p>右の検索ボックスから曲を検索して、演奏希望曲のjumpボタンを押してください。（デフォルトでは今話題のNiziUがセットされています）</p>
            <br>
            <div>
                <p><strong>{{ message }}</strong></p>
            </div>
        </div>
        <div id="scroll-box">
            <table max-width="500px">
                <tr>
                    <th>youtubeのタイトル名</th>
                    <th>Jump</th>
                </tr>
                <tr>
                    <td>{{ title1 }}</td>
                    <td><button class="jump" onclick="jump('{{ url1 }}');">jump</button></td>
                </tr>
                <tr>
                    <td>{{ title2 }}</td>
                    <td><button class="jump" onclick="jump('{{ url2 }}');">jump</button></td>
                </tr>
                <tr>
                    <td>{{ title3 }}</td>
                    <td><button class="jump" onclick="jump('{{ url3 }}');">jump</button></td>
                </tr>
                <!-- <tr>
                    <td>{{ title4 }}</td>
                    <td><button class="jump" onclick="jump('{{ url4 }}');">jump</button></td>
                </tr>
                <tr>
                    <td>{{ title5 }}</td>
                    <td><button class="jump" onclick="jump('{{ url5 }}');">jump</button></td>
                </tr> -->
            </table>
        </div>
    </div> <!-- /endmain -->

    <!-- sub -->
    <div class="sub">

        <div class="sub-create">

            <h2>クリエイト</h2>
            <form action="/createMode" method="POST" enctype="multipart/form-data">
                <label>YoutubeのURL</label>
                <div id="inform"></div>
                <input type="text" id="create" name="name" placeholder="https://www.youtube.com/watch?v=○○○○○○">
                <button type="submit" class="green">GO!</button>
            </form>
        </div>

        <div class="sub-search">
            <h2>曲探し</h2>
            <form action="/youtube" method="POST" enctype="multipart/form-data" class="form-inline">
                <label class="sr-only">Youtube検索</label>
                <input type="text" name="name" placeholder="キーワード">
                <button type="submit" class="blue">検索</button>
            </form>
        </div>

    </div> <!-- /endsub -->

</div>
{% endblock content %}

{% block addJS %}
<script src="/static/JS/createSelect.js"></script>
{% endblock addJS %}