{% extends 'base.html'%}

{% block content %}
<h1>クリエイトモード</h1>
<ul>
    <li>タイトル：{{ title }}</li>
    <li>リンク：<a href="{{ url }}" target="blank">{{ url }}</a></li>
    <li>保存先：{{ path }}</li>
</ul>
<p>確認したら下の再生ボタンを押してください。</p>

<!-- ここにビデオが表示 -->
<div id="ytplayer"></div>

<!-- ゲームコントローラー -->
<img src="/static/images/play.png" width="100px" height="100px" onclick="startGame();" />
<img src="/static/images/pause.jpg" width="100px" height="100px" onclick="stopGame();" />
<img src="/static/images/taiko.png" width="100px" height="100px" onclick="appendCount();" />

<!-- 保存 -->
<button class="btn btn-danger mb-2" onclick="saveDB();">クリエイトデータを保存</button>

<!-- error: 別ファイルでのJSの扱い -->

<script>
    let count = 0;
    let countupVal;
    countsToFirebase = [];

    let countup = function () {
        count++;
        console.log(count);
    };

    function startGame() {
        player.playVideo();
        count = 0; //カウントの初期化
        countupVal = setInterval('countup();', 250); //0.25秒毎にcountup()を呼び出し
    };

    function stopGame() {
        player.stopVideo();
        clearInterval(countupVal);
    };

    function appendCount() {
        countsToFirebase.push(count);
        console.log("どん！　" + count);
    };

    function saveDB() {
        clearInterval(countupVal);
        var result = prompt('保存するファイル名を入力してください');
        var title;
        if (result) {
            title = result;
        }
        ////////// add: else処理//////////
        const user = firebase.auth().currentUser;
        const userName = user.displayName;
        firebase.database().ref('records/' + user.uid).push().set({
            title: title,
            userName: userName,
            url: "{{ url }}",
            countTimes: countsToFirebase,
        });
        window.alert("データベースに送信しました")
    };

    // youtubeidの取得
    function getId() {
        var url = "{{ url }}";
        var videoid = url.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
        if (videoid != null) {
            // console.log("video id = ", videoid[1]);
            videoId = videoid[1]
        } else {
            console.log("The youtube url is not valid.");
        }
    };

    // 関数呼び出し、id更新
    var videoId;
    getId();

    // iframeの作成
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // iframeの設定
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
            height: '360',
            width: '640',
            videoId: videoId,
        });
    }
</script>
{% endblock content %}