{% extends 'base.html'%}

{% block content %}
<h1>ESPモード</h1>
<p>必要情報を入力してください。</p>

<div>
    <input type="text" id="title" name="name" placeholder="※ファイル名" required><br>
    <input type="text" id="yt_title" name="name" placeholder="※Youtubeのタイトル" required><br>
    <input type="text" id="url" name="name" placeholder="※YoutubeのURL" required><br>
    <input type="text" id="test" name="name" value="{{ countTimes }}" placeholder="※配列" required><br>
    <button type="submit" class="green" onclick="saveDB();">登録</button>
</div>>

{% endblock content %}

{% block addJS %}
<script>
    function saveDB() {
        //入力情報の取得
        var title = document.getElementById("title").value;
        var yt_title = document.getElementById("yt_title").value;
        var url = document.getElementById("url").value;
        //時間
        var now = new Date();
        var Year = now.getFullYear();
        var Month = now.getMonth() + 1;
        var Day = now.getDate();
        var Hour = now.getHours();
        var Min = now.getMinutes();
        var Sec = now.getSeconds();
        var timestamp = Year + "/" + Month + "/" + Day + "/" + Hour + ":" + Min + ":" + Sec;
        // user情報
        const user = firebase.auth().currentUser;
        const userId = user.uid;
        const userName = user.displayName;

        // 保存
        firebase.database().ref('users/' + user.uid).push().set({
            yt_title: yt_title,
            title: title,
            timestamp: timestamp,
            userName: userName,
            url: url,
            countTimes: "{{ countTimes }}",
            good: 0,
            play: 0,
        });

        window.alert("ESP32で作成したrhythmをデータベースに送信しました")
    };
</script>
{% endblock addJS %}