{% extends 'base.html'%}

{% block addCSS %}
<link rel="stylesheet" href="/static/CSS/index.css">
{% endblock addCSS %}

{% block content %}
<!-- メニューセレクト -->
<div class="item-container">

    <!-- play -->
    <a href=" /playSelect">
        <div class="item">
            <h2>プレイモード</h2>
            <p>説明文</p>
        </div>
    </a>

    <!-- create -->
    <a href="/createSelect">
        <div class="item">
            <h2>クリエイトモード</h2>
            <p>説明文</p>
        </div>
    </a>

    <!-- ESP32 -->
    <a href="/esp32-1">
        <div class="item">
            <h2>ESP32</h2>
            <p>説明文</p>
        </div>
    </a>
</div>

<!-- border -->
<div class="boder-line"></div>

<!-- 説明書き -->
<h2 style="text-align: center; color: #476282;">★遊び方★</h2>

{% endblock content %}