<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- css -->
    <!-- <link rel=“stylesheet” href="{{ url_for('static', filename='CSS/style.css') }}"> -->

    <meta charset="UTF-8">
    <title>音ゲーム</title>
</head>

<body>
    <!-- firebase CDN -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    <!-- firebase ui CDN  -->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <!-- js -->
    <script src="/static/JS/config.js"></script>
    <script src="/static/JS/base.js"></script>
    <script src="/static/JS/login.js"></script>

    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">音ゲーム</a>
    </nav>
    <!-- コンテンツ -->
    <div class="container">
        <div id="firebaseui-auth-container"></div>
    </div>
    <!-- add:フッター -->
</body>

</html>