{% extends 'base.html'%}
{% block content %}
<h1>プレイモードの確認</h1>
<p>あなたが入力したURL</p>
<ul>
    <li>{{ url }}</li>
</ul>
<p>確認したら下のボタンを押してください</p>

<!-- ここにビデオが表示 -->
<div id="ytplayer"></div>

<!-- ゲームコントローラー -->
<img src="/static/images/play.png" width="100px" height="100px" onclick="startGame();" />
<img src="/static/images/pause.jpg" width="100px" height="100px" onclick="stopGame();" />
<img src="/static/images/taiko.png" width="100px" height="100px" onclick="appendCount();" />
<img src="/static/images/taiko.png" width="100px" height="100px" onclick="aaa();" />


{% endblock content %}

{% block addJS %}
<script src="/static/JS/playMode.js"></script>

<script>
    window.onload = function () {
        getSearchedData();
    };
    test = [1, 3, 5, 6, 7, 8];

    /////////////////////
    function aaa() {
        var result = test.indexOf(1);
        console.log("検索の結果" + result);
        if (result == -1) {
            console.log("False")
        } else {
            console.log("True!")
        };
    };
    /////////////////////


    /////////// 検索処理　//////////////
    var searchedArray = [];
    function getSearchedData() {
        //取得するデータ範囲の設定
        firebase.database().ref('/users/').once('value').then(function (snapshot) {
            var allData = snapshot.val();
            //繰り返してタイトルを取得。多分推奨のやり方ではない
            for (oneUserId in allData) {
                var oneUser = allData[oneUserId];
                for (oneDocKey in oneUser) {
                    if (allData[oneUserId][oneDocKey].url == "{{ url }}") {
                        searchedArray.push(allData[oneUserId][oneDocKey].countTimes);
                    };
                };
            };
            // 確認
            console.log(searchedArray);
        });
    };

    ////////////　youtube /////////////

    // youtubeidの取得
    function getId() {
        var url = "{{ url }}";
        var videoid = url.match(/(?:https?:\/{2})?(?:w{3}\.)?youtu(?:be)?\.(?:com|be)(?:\/watch\?v=|\/)([^\s&]+)/);
        if (videoid != null) {
            // console.log("video id = ", videoid[1]);
            videoId = videoid[1]
        } else {
            console.log("The youtube url is not valid.");
        }
    };

    // 関数呼び出し、id更新
    var videoId;
    getId();

    // iframeの作成
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // iframeの設定
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
            height: '360',
            width: '640',
            videoId: videoId,
        });
    }

</script>
{% endblock addJS %}