{% extends 'base.html'%}

{% block addCSS %}
<link rel="stylesheet" href="/static/CSS/playSelect.css">
{% endblock addCSS %}

{% block content %}
<div class="two-column-container">

    <!-- main -->
    <div class="main">
        <h2>人気ランキング
            <span onclick="getData();">🔄</span>
        </h2>
        <div style="margin: 10px ;">
            <p>演奏希望曲の[jump]ボタンを押してdocKeyを挿入してください。</p>
        </div>
        <div id="scroll-box">
            <table id="table" max-width="500px">
            </table>
        </div>
    </div> <!-- /endmain -->

    <!-- sub -->
    <div class="sub">

        <div class="sub-play">
            <h2>プレイモード</h2>
            <div id="inform"></div>
            <form action="/docPost" method="POST" enctype="multipart/form-data">
                <input type="text" id="play" name="name" placeholder="docKey">
                <button type="submit" class="green">GO!</button>
            </form>
        </div>

        <div class="sub-search">
            <h2>曲探し</h2>
            <input type="text" id="searchTitle" name="title" placeholder="キーワード">
            <button type="submit" onclick="getTitleData();" class="blue">検索</button>
        </div>

    </div> <!-- /endsub -->

</div>
{% endblock content %}

{% block addJS %}

<!-- 検索処理、テーブル作成処理 -->
<script src="/static/JS/playSelect.js"></script>

<!-- 読み込みした際のテーブル作成 -->
<script>
    window.onload = function () {
        getData();
    };
</script>
{% endblock addJS %}