{% extends 'base.html'%}

{% block content %}
<div class="row">
    <!-- main -->
    <div class="col-4">
        <h2>プレイモード</h2>
        <form action="/playMode" method="POST" enctype="multipart/form-data" class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">YoutubeのURL</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="name"
                placeholder="https://www.youtube.com/watch?v=○○○○○○">
            <button type="submit" class="btn btn-primary mb-2">検索</button>
        </form>
    </div>
    <!-- endmain -->
    <!-- sub -->
    <div class="col-4">
        <h2>クリエイトモード</h2>
        <form action="/createMode" method="POST" enctype="multipart/form-data" class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">YoutubeのURL</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="name"
                placeholder="https://www.youtube.com/watch?v=○○○○○○">
            <button type="submit" class="btn btn-primary mb-2">検索</button>
        </form>
    </div>
    <!-- endsub -->
    <!-- inform -->
    <div class="col-4">
        <h2>{{ inform }}</h2>
        <button type="submit" onclick="getData();" class="btn btn-primary mb-2">get!</button>

        <div id="test"></div>
    </div>
    <!-- endinform -->
</div>
{% endblock content %}

{% block addJS %}
<script src="/static/JS/selectMode.js"></script>
{% endblock addJS %}