{% extends 'base.html'%}

{% block addJS %}
<script src="/static/JS/test.js"></script>
{% endblock addJS %}

{% block content %}
<div class="row">
    <!-- main -->
    <div class="col-8">
        <h2>プレイモード</h2>
        <form action="/playConfirm" method="POST" enctype="multipart/form-data" class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">YoutubeのURL</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="name"
                placeholder="https://www.youtube.com/watch?v=○○○○○○">
            <button type="submit" class="btn btn-primary mb-2">検索</button>
        </form>
    </div>
    <!-- endmain -->
    <!-- sub -->
    <div class="col-4">
        <h2>クリエイトモード</h2>
        <form action="/createConfirm" method="POST" enctype="multipart/form-data" class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">YoutubeのURL</label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="name"
                placeholder="https://www.youtube.com/watch?v=○○○○○○">
            <button type="submit" class="btn btn-primary mb-2">検索</button>
        </form>
    </div>
    <!-- endsub -->
</div>
{% endblock content %}