<html>

<head>
    <title>
        Away From Picto(JavaScript)
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <script>
        let countupVal, updateVal;

        let Human = function () { // Human のコンストラクタ関数
            this.image = new Image();
            this.image.style.position = "fixed";
        }

        let Player = function () { // Player のコンストラクタ関数
            Human.apply(this, arguments);
            this.y = 0.6 * (window.innerHeight - this.image.height);
            this.x = 0.75 * (window.innerWidth - this.image.width);
            this.image.width = 200;
            this.image.height = 20;
            this.image.src = "/static/images/bou.png";

        }

        let Enemy = function () { // Enemy のコンストラクタ関数
            Human.apply(this, arguments);
            this.y = 0.2 * (window.innerHeight - this.image.height);
            this.x = 0.8 * (window.innerWidth - this.image.width);
            this.dx = 0;
            this.dy = 1;
            this.image.src = "/static/images/humanpicto.png";
        }

        Player.prototype = new Human;
        Enemy.prototype = new Human;

        Player.prototype.update = function () {
            this.x = this.x;
            this.y = this.y;

            this.image.style.left = this.x + "px";
            this.image.style.top = this.y + "px";

        }

        Enemy.prototype.update = function () {
            this.x = this.x + this.dx;
            this.y = this.y + this.dy;
            this.image.style.left = this.x + "px";
            this.image.style.top = this.y + "px";

            if (this.y > 0.8 * (window.innerHeight - this.image.height)) {
                this.y = this.y - this.dy;
                this.dy *= -1;
            }

            if ((Math.abs(player.x - this.x) < player.image.width) && (Math.abs(player.y - this.y) < player.image.height)) {
                gameover();
            }
        }

        let player;
        let enemy = new Array(1);

        window.onload = function () {　// ブラウザにコンテンツがロードされたときに1度だけ呼ばれる関数
            player = new Player();
            document.body.appendChild(player.image);

            for (let i = 0; i < enemy.length; i++) {
                enemy[i] = new Enemy();
            }

            for (let i = 0; i < enemy.length; i++) {
                document.body.appendChild(enemy[i].image);
            }
        }

        let update = function () { // 画像表示のアップデート
            for (let i = 0; i < enemy.length; i++) {
                enemy[i].update();
            }
            player.update();
        }

        updateVal = setInterval(update, 10); // 関数updateを10msごとに呼び出す．

        function gameover() {
            clearInterval(countupVal); // 関数countupを一定時間ごとに呼び出していたのを止める．
            clearInterval(updateVal); // 関数updateを一定時間ごとに呼び出していたのを止める．
        }

    </script>
</head>

<body bgcolor="white">
    Timer:<div id="timer">0</div><br>
</body>

</html>